doctype html
head
    title Musical Player
    meta(charset="utf-8")
body
    audio(id="audio" src="/audio/11.mp3" onclick="start" controls)
    audio(id="audio2" src="/audio/22.mp3" onclick="start" controls)
    script(src="/static/Musical-player.js")
